/* Hero */
.hero {
  position: relative;
  margin-bottom: 30px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
  background-color: $dark;
  @media only screen and (max-width: $desktop) {
    border-radius: 30px;
  }
  @media only screen and (max-width: $mobile) {
    box-shadow: none;
  }
}

.hero__inner {
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 30px;
    /*background-color: rgba(#10111e, 0.6);*/
  }
  @media only screen and (max-width: $desktop) {
    &::before {
      border-radius: 30px;
    }
  }
}

.hero__image {
  padding-top: 50%;
  min-height: 280px;
  user-select: none;
  img {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media only screen and (max-width: $desktop) {
    padding-top: 55%;
  }
  @media only screen and (max-width: $tablet) {
    padding-top: 65%;
  }
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  width: 100%;
  max-width: 650px;
  padding: 0 20px;
  text-align: center;
}

.hero__title {
  font-size: 57px;
  margin: 0 0 10px;
  color: $green;
  @media only screen and (max-width: $mobile) {
    font-size: 43px;
    margin: 0 0 5px;
  }
}

.hero__desc {
  font-size: 18px;
  color: rgba($green, .8);
  margin: 0;
  @media only screen and (max-width: $mobile) {
    font-size: 15px;
    line-height: 21px;
  }
}

/* Hero Withou Image */
.hero-without-image {
  margin: 50px 0 80px;
  .hero-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-content {
    width: 100%;
    max-width: 650px;
    padding: 0 20px;
    text-align: center;
  }
  @media only screen and (max-width: $mobile) {
    margin: 20px 0 50px;
  }
}
