/* Scroll Button */
.top {
  position: fixed;
  bottom: 25px;
  right: -100px;
  z-index: 5;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  background-color: $dark;
  color: $green;
  cursor: pointer;
  transition: all .25s ease;
  
  &.is-active {
    right: 30px;
  }
}

@media only screen and (max-width: $tablet) {
  .top {
    bottom: 15px;
    &.is-active {
      right: 25px;
    }
  }
}
