*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  &.is-in {
    &::after {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
  }
  &::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $dark;
    z-index: 15;
    transition: 1s;
  }
  input, textarea {
    border: 1px solid $light-gray;
    outline: none;
  }
  
  @media only screen and (max-width: $mobile) {
    font-size: 16px;
    line-height: 29px;
  }
}

::placeholder {
  color: $gray;
}

*::selection {
  color: $black;
  background-color: rgba($green, 0.7);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  color: $heading-color;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

blockquote {
  position: relative;
  padding: 20px 20px 20px 45px;
  font-family: $heading-font-family;
  font-size: 21px;
  line-height: 37px;
  font-weight: 700;
  color: $text-color;
  
  &:before {
    content: '\201C';
    position: absolute;
    font-family: $heading-font-family;
    top: 0.3em;
    left: -0.01em;
    font-size: 4em;
    color: rgba($text-color, .6);
  }
  
  cite {
    font-size: 16px;
    font-style: normal;
    color: $text-color;
    &:before {
      content: '\2014' '\00a0';
    }
  }

  @media only screen and (max-width: $mobile) {
    padding: 20px 20px 20px 35px;
    font-size: 18px;
    line-height: 28px;
  }
}

pre {
  overflow: auto;
  padding: 15px;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

code[class*=language-], pre[class*=language-] {
  white-space: pre-wrap;
  word-break: break-all;
  line-height: inherit;
}

img, 
.zoom-img-wrap {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  &+em {
    display: inline-block;
    width: 100%;
    padding: 13px;
    font-size: 14px;
    font-style: normal;
    line-height: 1;
    text-align: center;
    color: rgba($green,.8);
    background-color: $black;
  }
}

a {
  text-decoration: none;
  color: $text-color;
  transition: $global-transition;
  &:hover {
      color: $brand-color;
  }
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 50px 0;
  border: 0;
  background: rgba($text-color, .1);
}

.table-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

table {
  font-size: 12px;
  color: rgba($text-color, .6);
  width: 100%;
  border-width: 1px;
  border-color: $black;
  border-collapse: collapse;
}

table th {
  padding: 10px;
  font-size: 16px;
  text-align: left;
  border: 1px solid $black;
  color: $text-color;
  background-color: $brand-color;
}

table tr {
  background-color: $dark;
  transition: all .3s ease;
  &:nth-child(even) {
    background-color: transparent;
  }
}

table td {
  padding: 10px;
  font-size: 14px;
  border: 1px solid $black;
}

table tr:hover {
  color: $text-color;
}

.gallery-box {
  margin-bottom: 30px;
  em {
    display: inline-block;
    width: 100%;
    padding: 13px;
    font-size: 14px;
    font-style: normal;
    line-height: 1;
    text-align: center;
    color: rgba($text-color,.8);
    background-color: $dark;
    a {
      text-decoration: underline;
      border-bottom: none;
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
  img {
    width: 100%;
    height: auto;
  }
}
